# https://dockerhosting.ru/blog/healthcheck-v-docker-proverka-sostoyaniya-kontejnera/?ysclid=mi2ih8erzo623217335
# https://dockerhub.timeweb.cloud/
x-healthcheck-defaults: &healthcheck-defaults
  interval: 30s
  timeout: 10s
  retries: 3
  start_period: 60s

services:
  grafana:
    image: grafana/grafana-enterprise
    container_name: grafana
    restart: unless-stopped
    environment:
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_ADMIN_PASSWORD}
    ports:
      - '3000:3000'
    networks:
      - app-network
    depends_on:
      mysql-db:
        condition: service_healthy
      redis-db:
        condition: service_healthy
      nginx:
        condition: service_started

  mysql-db:
    container_name: mysql-db
    image: dockerhub.timeweb.cloud/library/mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p${MYSQL_ROOT_PASSWORD}"]
      <<: *healthcheck-defaults

  redis-db:
    image: dockerhub.timeweb.cloud/library/redis:7.2-alpine
    restart: unless-stopped
    container_name: redis-db
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/var/lib/redis
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      <<: *healthcheck-defaults

  nginx:
    image: dockerhub.timeweb.cloud/library/nginx:1.29.2
    container_name: nginx
    restart: always
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.local.conf:/etc/nginx/conf.d/default.conf
      - ./html:/usr/share/nginx/html
    networks:
      - app-network
    depends_on:
      - mysql-db
      - redis-db
    healthcheck:
      test: [ "CMD", "curl", "--fail", "http://localhost" ]
      <<: *healthcheck-defaults
      start_period: 10s

  rabbitmq:
    image: dockerhub.timeweb.cloud/library/rabbitmq:4.0-management
    container_name: rabbitmq
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    ports:
    - "5672:5672"
    - "15672:15672"
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      <<: *healthcheck-defaults

  phpmyadmin:
    image: dockerhub.timeweb.cloud/library/phpmyadmin:5.2.3
    container_name: phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: mysql-db
      PMA_PORT: 3306
      PMA_USER: ${PMA_USER}
      PMA_PASSWORD: ${PMA_PASSWORD}
      PMA_AUTH_TYPE: ${PMA_AUTH_TYPE}
    depends_on:
      mysql-db:
        condition: service_healthy
    networks:
      - app-network

  mailpit:
    image: axllent/mailpit:latest
    container_name: mailpit
    restart: unless-stopped
    ports:
      - "8025:8025"
      - "1025:1025"
    networks:
      - app-network
    volumes:
      - mailpit-data:/var/lib/mailpit
    environment:
      MP_DATABASE: /var/lib/mailpit.db
      MP_MAX_MESSAGES: 5000
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
      TZ: Europe/Moscow

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    environment:
      APP_ENV: ${APP_ENV}
      APP_DEBUG: ${APP_DEBUG}
      APP_URL: ${APP_URL}

      DB_CONNECTION: mysql
      DB_HOST: mysql-db
      DB_PORT: 3306
      DB_DATABASE: ${MYSQL_DATABASE}
      DB_USERNAME: ${MYSQL_USER}
      DB_PASSWORD: ${MYSQL_PASSWORD}

      REDIS_HOST: redis-db
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      REDIS_PORT: 6379
      REDIS_CLIENT: predis

      BROADCAST_DRIVER: redis
      CACHE_DRIVER: redis
      SESSION_DRIVER: redis
      QUEUE_CONNECTION: rabbitmq

      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      RABBITMQ_USER: ${RABBITMQ_USER}
      RABBITMQ_PASSWORD: ${RABBITMQ_PASSWORD}
      RABBITMQ_VHOST: /

      MAIL_MAILER: smtp
      MAIL_HOST: mailpit
      MAIL_PORT: 1025
      MAIL_USERNAME: null
      MAIL_PASSWORD: null
      MAIL_ENCRYPTION: null
      MAIL_FROM_ADDRESS: noreply@meeymirita.ru
      MAIL_FROM_NAME: "meeymirita"

      LOG_CHANNEL: stderr
    volumes:
      - ./backend:/var/www/html
      - ./logs/laravel:/var/www/html/storage/logs
    restart: unless-stopped
    networks:
      - app-network
    depends_on:
      mysql-db:
        condition: service_healthy
      redis-db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "php", "/var/www/html/artisan", "route:list" ]
      <<: *healthcheck-defaults
      start_period: 120s


volumes:
  rabbitmq-data:
    driver: local
  mysql-data:
    driver: local
  redis-data:
    driver: local
  mailpit-data:
    driver: local
networks:
  app-network:
    driver: bridge